@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --attention-10: rgba(255, 204, 0, 1);
  --attention-20: rgba(255, 204, 0, 1);
  --attention-30: rgba(255, 204, 0, 1);
  --attention-40: rgba(255, 204, 0, 1);
  --attention-5: rgba(255, 204, 0, 1);
  --attention-50: rgba(255, 204, 0, 1);
  --attention-60: rgba(255, 204, 0, 1);
  --attention-70: rgba(255, 204, 0, 1);
  --attention-80: rgba(255, 204, 0, 1);
  --attention-90: rgba(255, 204, 0, 1);
  --attention-95: rgba(255, 204, 0, 1);
  --background-elevation00: rgba(255, 255, 255, 1);
  --background-elevation01: rgba(255, 255, 255, 1);
  --background-elevation02: rgba(255, 255, 255, 1);
  --background-elevation03: rgba(255, 255, 255, 1);
  --background-elevation04: rgba(255, 255, 255, 1);
  --background-elevation06: rgba(255, 255, 255, 1);
  --background-elevation08: rgba(255, 255, 255, 1);
  --background-elevation12: rgba(255, 255, 255, 1);
  --background-elevation16: rgba(255, 255, 255, 1);
  --background-elevation24: rgba(255, 255, 255, 1);
  --body-1-bold-font-family: "Poppins", Helvetica;
  --body-1-bold-font-size: 16px;
  --body-1-bold-font-style: normal;
  --body-1-bold-font-weight: 700;
  --body-1-bold-letter-spacing: 0.08px;
  --body-1-bold-line-height: 24px;
  --body-1-medium-font-family: "Poppins", Helvetica;
  --body-1-medium-font-size: 16px;
  --body-1-medium-font-style: normal;
  --body-1-medium-font-weight: 500;
  --body-1-medium-letter-spacing: 0.08px;
  --body-1-medium-line-height: 24px;
  --body-1-regular-font-family: "Poppins", Helvetica;
  --body-1-regular-font-size: 16px;
  --body-1-regular-font-style: normal;
  --body-1-regular-font-weight: 400;
  --body-1-regular-letter-spacing: 0.08px;
  --body-1-regular-line-height: 24px;
  --body-1-semibold-font-family: "Poppins", Helvetica;
  --body-1-semibold-font-size: 16px;
  --body-1-semibold-font-style: normal;
  --body-1-semibold-font-weight: 600;
  --body-1-semibold-letter-spacing: 0.08px;
  --body-1-semibold-line-height: 24px;
  --body-2-bold-font-family: "Poppins", Helvetica;
  --body-2-bold-font-size: 14px;
  --body-2-bold-font-style: normal;
  --body-2-bold-font-weight: 700;
  --body-2-bold-letter-spacing: 0.035px;
  --body-2-bold-line-height: 20px;
  --body-2-medium-font-family: "Poppins", Helvetica;
  --body-2-medium-font-size: 14px;
  --body-2-medium-font-style: normal;
  --body-2-medium-font-weight: 500;
  --body-2-medium-letter-spacing: 0.035px;
  --body-2-medium-line-height: 20px;
  --body-2-regular-font-family: "Poppins", Helvetica;
  --body-2-regular-font-size: 14px;
  --body-2-regular-font-style: normal;
  --body-2-regular-font-weight: 400;
  --body-2-regular-letter-spacing: 0.035px;
  --body-2-regular-line-height: 20px;
  --body-2-semibold-font-family: "Poppins", Helvetica;
  --body-2-semibold-font-size: 14px;
  --body-2-semibold-font-style: normal;
  --body-2-semibold-font-weight: 600;
  --body-2-semibold-letter-spacing: 0.035px;
  --body-2-semibold-line-height: 20px;
  --button-bold-font-family: "Poppins", Helvetica;
  --button-bold-font-size: 16px;
  --button-bold-font-style: normal;
  --button-bold-font-weight: 700;
  --button-bold-letter-spacing: 0px;
  --button-bold-line-height: 20px;
  --button-medium-font-family: "Poppins", Helvetica;
  --button-medium-font-size: 16px;
  --button-medium-font-style: normal;
  --button-medium-font-weight: 500;
  --button-medium-letter-spacing: 0px;
  --button-medium-line-height: 20px;
  --button-regular-font-family: "Poppins", Helvetica;
  --button-regular-font-size: 16px;
  --button-regular-font-style: normal;
  --button-regular-font-weight: 400;
  --button-regular-letter-spacing: 0px;
  --button-regular-line-height: 20px;
  --button-semibold-font-family: "Poppins", Helvetica;
  --button-semibold-font-size: 16px;
  --button-semibold-font-style: normal;
  --button-semibold-font-weight: 600;
  --button-semibold-letter-spacing: 0px;
  --button-semibold-line-height: 20px;
  --caption-bold-font-family: "Poppins", Helvetica;
  --caption-bold-font-size: 12px;
  --caption-bold-font-style: normal;
  --caption-bold-font-weight: 700;
  --caption-bold-letter-spacing: 0.5px;
  --caption-bold-line-height: 16px;
  --caption-medium-font-family: "Poppins", Helvetica;
  --caption-medium-font-size: 12px;
  --caption-medium-font-style: normal;
  --caption-medium-font-weight: 500;
  --caption-medium-letter-spacing: 0.5px;
  --caption-medium-line-height: 16px;
  --caption-regular-font-family: "Poppins", Helvetica;
  --caption-regular-font-size: 12px;
  --caption-regular-font-style: normal;
  --caption-regular-font-weight: 400;
  --caption-regular-letter-spacing: 0.5px;
  --caption-regular-line-height: 16px;
  --caption-semibold-font-family: "Poppins", Helvetica;
  --caption-semibold-font-size: 12px;
  --caption-semibold-font-style: normal;
  --caption-semibold-font-weight: 600;
  --caption-semibold-letter-spacing: 0.5px;
  --caption-semibold-line-height: 16px;
  --gray-scale0: rgba(255, 255, 255, 1);
  --gray-scale10: rgba(207, 207, 207, 1);
  --gray-scale20: rgba(183, 183, 183, 1);
  --gray-scale30: rgba(161, 161, 161, 1);
  --gray-scale40: rgba(137, 137, 137, 1);
  --gray-scale5: rgba(217, 217, 217, 1);
  --gray-scale50: rgba(114, 114, 114, 1);
  --gray-scale60: rgba(92, 92, 92, 1);
  --gray-scale70: rgba(69, 69, 69, 1);
  --gray-scale80: rgba(46, 46, 46, 1);
  --gray-scale90: rgba(23, 23, 23, 1);
  --h1-bold-font-family: "Poppins", Helvetica;
  --h1-bold-font-size: 96px;
  --h1-bold-font-style: normal;
  --h1-bold-font-weight: 700;
  --h1-bold-letter-spacing: -1.44px;
  --h1-bold-line-height: 104px;
  --h1-medium-font-family: "Poppins", Helvetica;
  --h1-medium-font-size: 96px;
  --h1-medium-font-style: normal;
  --h1-medium-font-weight: 500;
  --h1-medium-letter-spacing: -1.44px;
  --h1-medium-line-height: 104px;
  --h1-regular-font-family: "Poppins", Helvetica;
  --h1-regular-font-size: 96px;
  --h1-regular-font-style: normal;
  --h1-regular-font-weight: 400;
  --h1-regular-letter-spacing: -1.44px;
  --h1-regular-line-height: 104px;
  --h1-semibold-font-family: "Poppins", Helvetica;
  --h1-semibold-font-size: 96px;
  --h1-semibold-font-style: normal;
  --h1-semibold-font-weight: 600;
  --h1-semibold-letter-spacing: -1.44px;
  --h1-semibold-line-height: 104px;
  --h2-bold-font-family: "Poppins", Helvetica;
  --h2-bold-font-size: 60px;
  --h2-bold-font-style: normal;
  --h2-bold-font-weight: 700;
  --h2-bold-letter-spacing: -0.3px;
  --h2-bold-line-height: 68px;
  --h2-medium-font-family: "Poppins", Helvetica;
  --h2-medium-font-size: 60px;
  --h2-medium-font-style: normal;
  --h2-medium-font-weight: 500;
  --h2-medium-letter-spacing: -0.3px;
  --h2-medium-line-height: 68px;
  --h2-regular-font-family: "Poppins", Helvetica;
  --h2-regular-font-size: 60px;
  --h2-regular-font-style: normal;
  --h2-regular-font-weight: 400;
  --h2-regular-letter-spacing: -0.3px;
  --h2-regular-line-height: 68px;
  --h2-semibold-font-family: "Poppins", Helvetica;
  --h2-semibold-font-size: 60px;
  --h2-semibold-font-style: normal;
  --h2-semibold-font-weight: 600;
  --h2-semibold-letter-spacing: -0.3px;
  --h2-semibold-line-height: 68px;
  --h3-bold-font-family: "Poppins", Helvetica;
  --h3-bold-font-size: 48px;
  --h3-bold-font-style: normal;
  --h3-bold-font-weight: 700;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 52px;
  --h3-medium-font-family: "Poppins", Helvetica;
  --h3-medium-font-size: 48px;
  --h3-medium-font-style: normal;
  --h3-medium-font-weight: 500;
  --h3-medium-letter-spacing: 0px;
  --h3-medium-line-height: 52px;
  --h3-regular-font-family: "Poppins", Helvetica;
  --h3-regular-font-size: 48px;
  --h3-regular-font-style: normal;
  --h3-regular-font-weight: 400;
  --h3-regular-letter-spacing: 0px;
  --h3-regular-line-height: 52px;
  --h3-semibold-font-family: "Poppins", Helvetica;
  --h3-semibold-font-size: 48px;
  --h3-semibold-font-style: normal;
  --h3-semibold-font-weight: 600;
  --h3-semibold-letter-spacing: 0px;
  --h3-semibold-line-height: 52px;
  --h4-bold-font-family: "Poppins", Helvetica;
  --h4-bold-font-size: 34px;
  --h4-bold-font-style: normal;
  --h4-bold-font-weight: 700;
  --h4-bold-letter-spacing: 0.085px;
  --h4-bold-line-height: 40px;
  --h4-medium-font-family: "Poppins", Helvetica;
  --h4-medium-font-size: 34px;
  --h4-medium-font-style: normal;
  --h4-medium-font-weight: 500;
  --h4-medium-letter-spacing: 0.085px;
  --h4-medium-line-height: 40px;
  --h4-regular-font-family: "Poppins", Helvetica;
  --h4-regular-font-size: 34px;
  --h4-regular-font-style: normal;
  --h4-regular-font-weight: 400;
  --h4-regular-letter-spacing: 0.085px;
  --h4-regular-line-height: 40px;
  --h4-semibold-font-family: "Poppins", Helvetica;
  --h4-semibold-font-size: 34px;
  --h4-semibold-font-style: normal;
  --h4-semibold-font-weight: 600;
  --h4-semibold-letter-spacing: 0.085px;
  --h4-semibold-line-height: 40px;
  --h5-bold-font-family: "Poppins", Helvetica;
  --h5-bold-font-size: 26px;
  --h5-bold-font-style: normal;
  --h5-bold-font-weight: 700;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: 32px;
  --h5-medium-font-family: "Poppins", Helvetica;
  --h5-medium-font-size: 26px;
  --h5-medium-font-style: normal;
  --h5-medium-font-weight: 500;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: 32px;
  --h5-regular-font-family: "Poppins", Helvetica;
  --h5-regular-font-size: 26px;
  --h5-regular-font-style: normal;
  --h5-regular-font-weight: 400;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: 32px;
  --h5-semibold-font-family: "Poppins", Helvetica;
  --h5-semibold-font-size: 26px;
  --h5-semibold-font-style: normal;
  --h5-semibold-font-weight: 600;
  --h5-semibold-letter-spacing: 0px;
  --h5-semibold-line-height: 32px;
  --h6-bold-font-family: "Poppins", Helvetica;
  --h6-bold-font-size: 20px;
  --h6-bold-font-style: normal;
  --h6-bold-font-weight: 700;
  --h6-bold-letter-spacing: 0.030000001192092896px;
  --h6-bold-line-height: 24px;
  --h6-medium-font-family: "Poppins", Helvetica;
  --h6-medium-font-size: 20px;
  --h6-medium-font-style: normal;
  --h6-medium-font-weight: 500;
  --h6-medium-letter-spacing: 0.030000001192092896px;
  --h6-medium-line-height: 24px;
  --h6-regular-font-family: "Poppins", Helvetica;
  --h6-regular-font-size: 20px;
  --h6-regular-font-style: normal;
  --h6-regular-font-weight: 400;
  --h6-regular-letter-spacing: 0.030000001192092896px;
  --h6-regular-line-height: 24px;
  --h6-semibold-font-family: "Poppins", Helvetica;
  --h6-semibold-font-size: 20px;
  --h6-semibold-font-style: normal;
  --h6-semibold-font-weight: 600;
  --h6-semibold-letter-spacing: 0.030000001192092896px;
  --h6-semibold-line-height: 24px;
  --lightborderbottom: rgba(255, 255, 255, 1);
  --lightborderleft: rgba(255, 255, 255, 1);
  --lightborderright: rgba(255, 255, 255, 1);
  --lightbordertop: rgba(255, 255, 255, 1);
  --lightshadow-elevation00: rgba(255, 255, 255, 1);
  --lightshadow-elevation00-stroke: rgba(0, 0, 0, 0.12);
  --lightshadow-elevation01: rgba(255, 255, 255, 1);
  --lightshadow-elevation02: rgba(255, 255, 255, 1);
  --lightshadow-elevation03: rgba(255, 255, 255, 1);
  --lightshadow-elevation04: rgba(255, 255, 255, 1);
  --lightshadow-elevation06: rgba(255, 255, 255, 1);
  --lightshadow-elevation08: rgba(255, 255, 255, 1);
  --lightshadow-elevation12: rgba(255, 255, 255, 1);
  --lightshadow-elevation16: rgba(255, 255, 255, 1);
  --lightshadow-elevation24: rgba(255, 255, 255, 1);
  --overline-bold-font-family: "Poppins", Helvetica;
  --overline-bold-font-size: 10px;
  --overline-bold-font-style: normal;
  --overline-bold-font-weight: 700;
  --overline-bold-letter-spacing: 1px;
  --overline-bold-line-height: 16px;
  --overline-medium-font-family: "Poppins", Helvetica;
  --overline-medium-font-size: 10px;
  --overline-medium-font-style: normal;
  --overline-medium-font-weight: 500;
  --overline-medium-letter-spacing: 1px;
  --overline-medium-line-height: 16px;
  --overline-regular-font-family: "Poppins", Helvetica;
  --overline-regular-font-size: 10px;
  --overline-regular-font-style: normal;
  --overline-regular-font-weight: 400;
  --overline-regular-letter-spacing: 1px;
  --overline-regular-line-height: 16px;
  --overline-semibold-font-family: "Poppins", Helvetica;
  --overline-semibold-font-size: 10px;
  --overline-semibold-font-style: normal;
  --overline-semibold-font-weight: 600;
  --overline-semibold-letter-spacing: 1px;
  --overline-semibold-line-height: 16px;
  --primaryprimary-home-110: rgba(0, 242, 184, 1);
  --primaryprimary-home-120: rgba(0, 242, 184, 1);
  --primaryprimary-home-130: rgba(0, 242, 184, 1);
  --primaryprimary-home-140: rgba(0, 242, 184, 1);
  --primaryprimary-home-15: rgba(0, 242, 184, 1);
  --primaryprimary-home-150: rgba(0, 242, 184, 1);
  --primaryprimary-home-160: rgba(0, 242, 184, 1);
  --primaryprimary-home-170: rgba(0, 242, 184, 1);
  --primaryprimary-home-180: rgba(0, 242, 184, 1);
  --primaryprimary-home-190: rgba(0, 242, 184, 1);
  --primaryprimary-home-195: rgba(0, 242, 184, 1);
  --primaryprimary-home-210: rgba(0, 100, 250, 1);
  --primaryprimary-home-220: rgba(0, 100, 250, 1);
  --primaryprimary-home-230: rgba(0, 100, 250, 1);
  --primaryprimary-home-240: rgba(0, 100, 250, 1);
  --primaryprimary-home-25: rgba(0, 100, 250, 1);
  --primaryprimary-home-250: rgba(0, 100, 250, 1);
  --primaryprimary-home-260: rgba(0, 100, 250, 1);
  --primaryprimary-home-270: rgba(0, 100, 250, 1);
  --primaryprimary-home-280: rgba(0, 100, 250, 1);
  --primaryprimary-home-290: rgba(0, 100, 250, 1);
  --primaryprimary-home-295: rgba(0, 100, 250, 1);
  --primaryprimary-home-310: rgba(159, 29, 0, 1);
  --primaryprimary-home-320: rgba(159, 29, 0, 1);
  --primaryprimary-home-330: rgba(159, 29, 0, 1);
  --primaryprimary-home-340: rgba(159, 29, 0, 1);
  --primaryprimary-home-35: rgba(159, 29, 0, 1);
  --primaryprimary-home-350: rgba(159, 29, 0, 1);
  --primaryprimary-home-360: rgba(159, 29, 0, 1);
  --primaryprimary-home-370: rgba(159, 29, 0, 1);
  --primaryprimary-home-380: rgba(159, 29, 0, 1);
  --primaryprimary-home-390: rgba(159, 29, 0, 1);
  --primaryprimary-home-395: rgba(159, 29, 0, 1);
  --secondarysecondary-home-110: rgba(255, 235, 59, 1);
  --secondarysecondary-home-120: rgba(255, 235, 59, 1);
  --secondarysecondary-home-130: rgba(255, 235, 59, 1);
  --secondarysecondary-home-140: rgba(255, 235, 59, 1);
  --secondarysecondary-home-15: rgba(255, 235, 59, 1);
  --secondarysecondary-home-150: rgba(255, 235, 59, 1);
  --secondarysecondary-home-160: rgba(255, 235, 59, 1);
  --secondarysecondary-home-170: rgba(255, 235, 59, 1);
  --secondarysecondary-home-180: rgba(255, 235, 59, 1);
  --secondarysecondary-home-190: rgba(255, 235, 59, 1);
  --secondarysecondary-home-195: rgba(255, 235, 59, 1);
  --secondarysecondary-home-210: rgba(30, 30, 30, 1);
  --secondarysecondary-home-220: rgba(30, 30, 30, 1);
  --secondarysecondary-home-230: rgba(30, 30, 30, 1);
  --secondarysecondary-home-240: rgba(30, 30, 30, 1);
  --secondarysecondary-home-25: rgba(30, 30, 30, 1);
  --secondarysecondary-home-250: rgba(30, 30, 30, 1);
  --secondarysecondary-home-260: rgba(30, 30, 30, 1);
  --secondarysecondary-home-270: rgba(30, 30, 30, 1);
  --secondarysecondary-home-280: rgba(30, 30, 30, 1);
  --secondarysecondary-home-290: rgba(30, 30, 30, 1);
  --secondarysecondary-home-295: rgba(30, 30, 30, 1);
  --secondarysecondary-home-310: rgba(30, 30, 30, 1);
  --secondarysecondary-home-320: rgba(30, 30, 30, 1);
  --secondarysecondary-home-330: rgba(30, 30, 30, 1);
  --secondarysecondary-home-340: rgba(30, 30, 30, 1);
  --secondarysecondary-home-350: rgba(30, 30, 30, 1);
  --secondarysecondary-home-360: rgba(30, 30, 30, 1);
  --secondarysecondary-home-370: rgba(30, 30, 30, 1);
  --secondarysecondary-home-380: rgba(30, 30, 30, 1);
  --secondarysecondary-home-390: rgba(30, 30, 30, 1);
  --secondarysecondary-home-395: rgba(30, 30, 30, 1);
  --shadow-elevation-01:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-02:
    0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-03:
    0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 3px 0px rgba(0, 0, 0, 0.12), 0px 3px 4px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-04:
    0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-06:
    0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 6px 10px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-08:
    0px 5px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-12:
    0px 7px 8px 0px rgba(0, 0, 0, 0.2), 0px 5px 22px 0px rgba(0, 0, 0, 0.12), 0px 12px 17px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-16:
    0px 8px 10px 0px rgba(0, 0, 0, 0.2), 0px 6px 30px 0px rgba(0, 0, 0, 0.12), 0px 16px 24px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --shadow-elevation-24:
    0px 11px 15px 0px rgba(0, 0, 0, 0.2), 0px 9px 46px 0px rgba(0, 0, 0, 0.12), 0px 24px 38px 0px rgba(
      121,
      99,
      104,
      0.14
    );
  --subtitle-1-bold-font-family: "Poppins", Helvetica;
  --subtitle-1-bold-font-size: 16px;
  --subtitle-1-bold-font-style: normal;
  --subtitle-1-bold-font-weight: 700;
  --subtitle-1-bold-letter-spacing: 0.2px;
  --subtitle-1-bold-line-height: 20px;
  --subtitle-1-medium-font-family: "Poppins", Helvetica;
  --subtitle-1-medium-font-size: 16px;
  --subtitle-1-medium-font-style: normal;
  --subtitle-1-medium-font-weight: 500;
  --subtitle-1-medium-letter-spacing: 0.2px;
  --subtitle-1-medium-line-height: 20px;
  --subtitle-1-regular-font-family: "Poppins", Helvetica;
  --subtitle-1-regular-font-size: 16px;
  --subtitle-1-regular-font-style: normal;
  --subtitle-1-regular-font-weight: 400;
  --subtitle-1-regular-letter-spacing: 0.2px;
  --subtitle-1-regular-line-height: 20px;
  --subtitle-1-semibold-font-family: "Poppins", Helvetica;
  --subtitle-1-semibold-font-size: 16px;
  --subtitle-1-semibold-font-style: normal;
  --subtitle-1-semibold-font-weight: 600;
  --subtitle-1-semibold-letter-spacing: 0.2px;
  --subtitle-1-semibold-line-height: 20px;
  --subtitle-2-bold-font-family: "Poppins", Helvetica;
  --subtitle-2-bold-font-size: 14px;
  --subtitle-2-bold-font-style: normal;
  --subtitle-2-bold-font-weight: 700;
  --subtitle-2-bold-letter-spacing: 0.14px;
  --subtitle-2-bold-line-height: 20px;
  --subtitle-2-medium-font-family: "Poppins", Helvetica;
  --subtitle-2-medium-font-size: 14px;
  --subtitle-2-medium-font-style: normal;
  --subtitle-2-medium-font-weight: 500;
  --subtitle-2-medium-letter-spacing: 0.14px;
  --subtitle-2-medium-line-height: 20px;
  --subtitle-2-regular-font-family: "Poppins", Helvetica;
  --subtitle-2-regular-font-size: 14px;
  --subtitle-2-regular-font-style: normal;
  --subtitle-2-regular-font-weight: 400;
  --subtitle-2-regular-letter-spacing: 0.14px;
  --subtitle-2-regular-line-height: 20px;
  --subtitle-2-semibold-font-family: "Poppins", Helvetica;
  --subtitle-2-semibold-font-size: 14px;
  --subtitle-2-semibold-font-style: normal;
  --subtitle-2-semibold-font-weight: 600;
  --subtitle-2-semibold-letter-spacing: 0.14px;
  --subtitle-2-semibold-line-height: 20px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
